<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit</h1>
    <a href="/order/<%=order.id%>">Back</a>
    <a href="/order">Back to Index</a>
    <form method="POST" action="/order/<%=order.id%>?_method=PATCH">
        <textarea name="comment" id="comment" cols="30" rows="10">
            <%=order.comment%>
        </textarea>
        <br>
        <button>Submit</button>
    </form>

</body>

</html>