<%- include('partials/head.ejs')%>

    <body>
        <%- include('partials/navbar.ejs')%>

            <h1>The Home Page
                <%=' Welcome!'%>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolor numquam repellendus cumque architecto alias libero ipsam aspernatur, ab, sed illum fugit explicabo est voluptatum qui culpa distinctio, odit placeat!Lorem</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus dignissimos, minima numquam blanditiis veniam repudiandae porro, dolores similique est cum cupiditate illo veritatis placeat, inventore recusandae dicta sequi amet temporibus.</p>
    </body>

    </html>