<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>Add A Product</h1>
    <form action="/products/new" method="POST">
        <section>
            <label for="name">Product Name</label>
            <input type="text" name="name" id="name">
        </section>
        <section>

            <label for="price">Price</label>
            <input type="number" name="price" id="price">
        </section>
        <section>

            <label for="category">category</label>
            <select name="category" id="category">
                <option value="vegetable">Vegetable</option>
                <option value="fruit">Fruit</option>
                <option value="dairy">Dairy</option>
            </select>
        </section>
        <button type="submit">Submit</button>
    </form>
        <a href="/products">All Products</a>
</body>

</html>