@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 1.5em;
    margin-left: calc(10%/6);
    padding-bottom: 1.2em;
    border-bottom: 2px rgb(241, 241, 241) solid;
    width: 30%;
}