<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%= number%> </h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium magnam sequi et obcaecati neque, quos rerum, rem excepturi illum odit tempora alias dolorum consectetur, libero laborum aspernatur? Minima, blanditiis nobis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, aperiam? Harum quis ea nisi dolorem omnis facilis debitis repellendus eligendi, est amet, minima recusandae eum inventore architecto quo veniam illo!</p>
</body>
</html>